stages:
  - build
  - deploy

variables:
  IMAGE_TAG: latest

before_script:
  - apt-get update -y
  - apt-get install -y docker.io openssh-client
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - echo $CI_JOB_TOKEN | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY

########################
# BUILD EACH SERVICE
########################

build_eureka:
  stage: build
  tags:
    - local-runner
  script:
    - cd eureka_server
    - docker build -t $CI_REGISTRY_IMAGE/eureka_server:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/eureka_server:$IMAGE_TAG
  only:
    - deploy

build_gateway:
  stage: build
  tags:
    - local-runner
  script:
    - cd gateway_service
    - docker build -t $CI_REGISTRY_IMAGE/gateway_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/gateway_service:$IMAGE_TAG
  only:
    - deploy

build_iam:
  stage: build
  tags:
    - local-runner
  script:
    - cd iam_service
    - docker build -t $CI_REGISTRY_IMAGE/iam_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/iam_service:$IMAGE_TAG
  only:
    - deploy

build_patient:
  stage: build
  tags:
    - local-runner
  script:
    - cd patient_service
    - docker build -t $CI_REGISTRY_IMAGE/patient_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/patient_service:$IMAGE_TAG
  only:
    - deploy

build_test_order:
  stage: build
  tags:
    - local-runner
  script:
    - cd test_order_service
    - docker build -t $CI_REGISTRY_IMAGE/test_order_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/test_order_service:$IMAGE_TAG
  only:
    - deploy

build_warehouse:
  stage: build
  tags:
    - local-runner
  script:
    - cd warehouse_service
    - docker build -t $CI_REGISTRY_IMAGE/warehouse_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/warehouse_service:$IMAGE_TAG
  only:
    - deploy

build_instrument:
  stage: build
  tags:
    - local-runner
  script:
    - cd instrument_service
    - docker build -t $CI_REGISTRY_IMAGE/instrument_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/instrument_service:$IMAGE_TAG
  only:
    - deploy

build_monitoring:
  stage: build
  tags:
    - local-runner
  script:
    - cd monitoring_service
    - docker build -t $CI_REGISTRY_IMAGE/monitoring_service:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE/monitoring_service:$IMAGE_TAG
  only:
    - deploy

########################
# DEPLOY TO EC2
########################

deploy_all:
  stage: deploy
  tags:
    - local-runner
  script:
    - ssh -o StrictHostKeyChecking=no ubuntu@3.235.141.216 "cd ~/deploy && docker-compose pull && docker-compose up -d"
  only:
    - deploy
